* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(23, 62, 135, 0.65);
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #333333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin-top: 10px;
}

li {
    background-color: #e8e8e8;
    border: 1px solid #d3d3d3;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #d6e5fa;
}

li span {
    font-weight: bold;
    color: #333333;
}

form {
    margin-top: 10px;
}

button {
    padding: 8px 16px;
    background-color: #32316c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #48486e;
}

/* Label styling */
label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

/* Input field styling */
input[type="text"],
input[type="address"],
input[type="city"],
input[type="postalCode"],
input[type="technicalSkills"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
}

/* Input focus effect */
input:focus {
    border-color: #007BFF;
    outline: none;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h3 {
        font-size: 20px;
    }

    button {
        width: 100%;
    }
}
