<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
    <!-- css style link -->
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>

<div class="container">
    <h2>Student Enrollment System</h2>

    <div class="form-section">
        <h3>Register</h3>
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="userName" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="lastName" required>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="address" id="address" name="address" required>
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="city" id="city" name="city" required>
            </div>
            <div class="form-group">
                <label for="postalCode">Postal Code</label>
                <input type="postalCode" id="postalCode" name="postalCode" required>
            </div>
            <div class="form-group">
                <label for="technicalSkills">Technical Skills</label>
                <input type="technicalSkills" id="technicalSkills" name="technicalSkills">
            </div>


            <button type="submit" class="btn">Register</button>
        </form>
    </div>

    <div class="form-section">
        <h3>Login</h3>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="login_username">Username</label>
                <input type="text" id="login_username" name="login_username" required>
            </div>
            <div class="form-group">
                <label for="login_password">Password</label>
                <input type="password" id="login_password" name="login_password" required>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</div>
</body>
</html>