<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/profile.css">
</head>
<body>
<div class="profile-container">
    <h1>STUDENT PROFILE</h1>
    <!-- Programs Button -->
    <form action="/programs" method="GET">
        <input type="hidden" name="studentId" th:value="${student.studentId}" />
        <button>Programs</button>
    </form>
    <!-- Edit Profile Button -->
    <form action="/editProfile" method="Get">
        <input type="hidden" name="studentId" th:value="${student.studentId}" />
        <button>Edit Profile</button>
    </form>
</div>
</body>
</html>